In [1]:
import pandas as pd

# Your cryptocurrency list
cryptocurrencies = ['Bitcoin', 'Litecoin', 'XRP', 'Dogecoin', 'Monero', 'Stellar', 'Tether', 'Ethereum', 'Ethereum Classic', 
                    'Maker', 'Basic Attention Token', 'EOS', 'Bitcoin Cash', 'BNB', 'TRON', 'Decentraland', 'Chainlink', 
                    'Cardano', 'Filecoin', 'Theta Network', 'Huobi Token', 'Ravencoin', 'Tezos', 'VeChain', 'Quant', 'USD Coin',
                    'Cronos', 'Wrapped Bitcoin', 'Cosmos', 'Polygon', 'OKB', 'UNUS SED LEO', 'Algorand', 'Chiliz', 'THORChain',
                    'Terra Classic', 'FTX Token', 'Hedera', 'Binance USD', 'Dai', 'Solana', 'Avalanche', 'Shiba Inu', 'The Sandbox',
                    'Polkadot', 'Elrond', 'Uniswap', 'Aave', 'NEAR Protocol', 'Flow', 'Internet Computer', 'Casper', 'Toncoin',
                    'Chain', 'ApeCoin', 'Aptos']
# Sample data for demonstration
data = {'crypto': ['Bitcoin', 'Litecoin', 'XRP', 'Dogecoin', 'Monero', 'Stellar', 'Tether', 'Ethereum', 'Ethereum Classic', 
                    'Maker', 'Basic Attention Token', 'EOS', 'Bitcoin Cash', 'BNB', 'TRON', 'Decentraland', 'Chainlink', 
                    'Cardano', 'Filecoin', 'Theta Network', 'Huobi Token', 'Ravencoin', 'Tezos', 'VeChain', 'Quant', 'USD Coin',
                    'Cronos', 'Wrapped Bitcoin', 'Cosmos', 'Polygon', 'OKB', 'UNUS SED LEO', 'Algorand', 'Chiliz', 'THORChain',
                    'Terra Classic', 'FTX Token', 'Hedera', 'Binance USD', 'Dai', 'Solana', 'Avalanche', 'Shiba Inu', 'The Sandbox',
                    'Polkadot', 'Elrond', 'Uniswap', 'Aave', 'NEAR Protocol', 'Flow', 'Internet Computer', 'Casper', 'Toncoin',
                    'Chain', 'ApeCoin', 'Aptos']}
#df = pd.DataFrame(data)

for i in range(55):
    print(cryptocurrencies[i]," : ",i)




# Creating a dictionary to map each cryptocurrency to a number
#crypto_map = {crypto: i for i, crypto in enumerate(cryptocurrencies, 1)}

# Replacing cryptocurrencies with numbers
#df['crypto'] = df['crypto'].replace(crypto_map, regex=True)

# Display the updated DataFrame
#print(df)

Bitcoin  :  0
Litecoin  :  1
XRP  :  2
Dogecoin  :  3
Monero  :  4
Stellar  :  5
Tether  :  6
Ethereum  :  7
Ethereum Classic  :  8
Maker  :  9
Basic Attention Token  :  10
EOS  :  11
Bitcoin Cash  :  12
BNB  :  13
TRON  :  14
Decentraland  :  15
Chainlink  :  16
Cardano  :  17
Filecoin  :  18
Theta Network  :  19
Huobi Token  :  20
Ravencoin  :  21
Tezos  :  22
VeChain  :  23
Quant  :  24
USD Coin  :  25
Cronos  :  26
Wrapped Bitcoin  :  27
Cosmos  :  28
Polygon  :  29
OKB  :  30
UNUS SED LEO  :  31
Algorand  :  32
Chiliz  :  33
THORChain  :  34
Terra Classic  :  35
FTX Token  :  36
Hedera  :  37
Binance USD  :  38
Dai  :  39
Solana  :  40
Avalanche  :  41
Shiba Inu  :  42
The Sandbox  :  43
Polkadot  :  44
Elrond  :  45
Uniswap  :  46
Aave  :  47
NEAR Protocol  :  48
Flow  :  49
Internet Computer  :  50
Casper  :  51
Toncoin  :  52
Chain  :  53
ApeCoin  :  54

In [2]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn import model_selection

In [3]:
df = pd.read_csv('datasetPBL(new).csv')
df=df.dropna()
df.head(10)

,15,open,high,low,close,volume,marketCap,timestamp,crypto_name,date
0,0,112.900002,118.800003,107.142998,115.910004,0.0,1.288693e+09,2013-05-05T23:59:59.999Z,0,05-05-2013
1,1,3.493130,3.692460,3.346060,3.590890,0.0,6.229819e+07,2013-05-05T23:59:59.999Z,1,05-05-2013
2,2,115.980003,124.663002,106.639999,112.300003,0.0,1.249023e+09,2013-05-06T23:59:59.999Z,0,06-05-2013
3,3,3.594220,3.781020,3.116020,3.371250,0.0,5.859436e+07,2013-05-06T23:59:59.999Z,1,06-05-2013
4,4,112.250000,113.444000,97.699997,111.500000,0.0,1.240594e+09,2013-05-07T23:59:59.999Z,0,07-05-2013
5,5,3.370870,3.406720,2.939790,3.332740,0.0,5.805127e+07,2013-05-07T23:59:59.999Z,1,07-05-2013
6,6,3.283620,3.491120,3.283620,3.409240,0.0,5.950822e+07,2013-05-08T23:59:59.999Z,1,08-05-2013
7,7,109.599998,115.779999,109.599998,113.566002,0.0,1.264049e+09,2013-05-08T23:59:59.999Z,0,08-05-2013
8,8,3.399400,3.441690,3.294850,3.416150,0.0,5.975557e+07,2013-05-09T23:59:59.999Z,1,09-05-2013
9,9,113.199997,113.459999,109.260002,112.669998,0.0,1.254535e+09,2013-05-09T23:59:59.999Z,0,09-05-2013

In [4]:
df = df.drop('15', axis=1)
df.head(10)

,open,high,low,close,volume,marketCap,timestamp,crypto_name,date
0,112.900002,118.800003,107.142998,115.910004,0.0,1.288693e+09,2013-05-05T23:59:59.999Z,0,05-05-2013
1,3.493130,3.692460,3.346060,3.590890,0.0,6.229819e+07,2013-05-05T23:59:59.999Z,1,05-05-2013
2,115.980003,124.663002,106.639999,112.300003,0.0,1.249023e+09,2013-05-06T23:59:59.999Z,0,06-05-2013
3,3.594220,3.781020,3.116020,3.371250,0.0,5.859436e+07,2013-05-06T23:59:59.999Z,1,06-05-2013
4,112.250000,113.444000,97.699997,111.500000,0.0,1.240594e+09,2013-05-07T23:59:59.999Z,0,07-05-2013
5,3.370870,3.406720,2.939790,3.332740,0.0,5.805127e+07,2013-05-07T23:59:59.999Z,1,07-05-2013
6,3.283620,3.491120,3.283620,3.409240,0.0,5.950822e+07,2013-05-08T23:59:59.999Z,1,08-05-2013
7,109.599998,115.779999,109.599998,113.566002,0.0,1.264049e+09,2013-05-08T23:59:59.999Z,0,08-05-2013
8,3.399400,3.441690,3.294850,3.416150,0.0,5.975557e+07,2013-05-09T23:59:59.999Z,1,09-05-2013
9,113.199997,113.459999,109.260002,112.669998,0.0,1.254535e+09,2013-05-09T23:59:59.999Z,0,09-05-2013

In [5]:
#dummy=pd.get_dummies(df,columns = 'date')
#print(dummy.head())

#df=pd.concat([df,dummy],axis=1)
#df.head(10)





df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract date information
df['year'] = df['timestamp'].dt.year
df['month'] = df['timestamp'].dt.month
df['day'] = df['timestamp'].dt.day

# Use get_dummies to create dummy variables
dummy = pd.get_dummies(df, columns=['year', 'month', 'day'])

# Print the DataFrame to see the updated columns

df.head()

,open,high,low,close,volume,marketCap,timestamp,crypto_name,date,year,month,day
0,112.900002,118.800003,107.142998,115.910004,0.0,1.288693e+09,2013-05-05 23:59:59.999000+00:00,0,05-05-2013,2013,5,5
1,3.493130,3.692460,3.346060,3.590890,0.0,6.229819e+07,2013-05-05 23:59:59.999000+00:00,1,05-05-2013,2013,5,5
2,115.980003,124.663002,106.639999,112.300003,0.0,1.249023e+09,2013-05-06 23:59:59.999000+00:00,0,06-05-2013,2013,5,6
3,3.594220,3.781020,3.116020,3.371250,0.0,5.859436e+07,2013-05-06 23:59:59.999000+00:00,1,06-05-2013,2013,5,6
4,112.250000,113.444000,97.699997,111.500000,0.0,1.240594e+09,2013-05-07 23:59:59.999000+00:00,0,07-05-2013,2013,5,7

In [6]:
df = df.drop('timestamp', axis=1)
df = df.drop('date', axis=1)
df.head(10)

,open,high,low,close,volume,marketCap,crypto_name,year,month,day
0,112.900002,118.800003,107.142998,115.910004,0.0,1.288693e+09,0,2013,5,5
1,3.493130,3.692460,3.346060,3.590890,0.0,6.229819e+07,1,2013,5,5
2,115.980003,124.663002,106.639999,112.300003,0.0,1.249023e+09,0,2013,5,6
3,3.594220,3.781020,3.116020,3.371250,0.0,5.859436e+07,1,2013,5,6
4,112.250000,113.444000,97.699997,111.500000,0.0,1.240594e+09,0,2013,5,7
5,3.370870,3.406720,2.939790,3.332740,0.0,5.805127e+07,1,2013,5,7
6,3.283620,3.491120,3.283620,3.409240,0.0,5.950822e+07,1,2013,5,8
7,109.599998,115.779999,109.599998,113.566002,0.0,1.264049e+09,0,2013,5,8
8,3.399400,3.441690,3.294850,3.416150,0.0,5.975557e+07,1,2013,5,9
9,113.199997,113.459999,109.260002,112.669998,0.0,1.254535e+09,0,2013,5,9

In [7]:
X=df[['open','high','low','volume','marketCap','crypto_name','year','month','day']]
y=df['close']

In [8]:
X_train,X_test,y_train,y_test=model_selection.train_test_split(X,y,test_size=.3,random_state=1)

In [9]:
h1=svm.SVR()

In [10]:
h1.fit(X_train, y_train)

SVR()

In [26]:
y_pred=h1.predict(X_test)

In [27]:
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error 
#from sklearn.metrics import 

mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
print(mse(y_test,y_pred))

rmse = mse(y_test, y_pred, squared=False)
print(f'Root Mean Squared Error: {rmse}')

Mean Absolute Error: 821.5074336042902
25660971.590800278
Root Mean Squared Error: 5065.665957285407

In [13]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(X_test, y_pred)
print(f'Accuracy: {accuracy}')

C:\Users\Gundeep\anaconda3\Lib\site-packages\sklearn\utils\_array_api.py:245: RuntimeWarning: invalid value encountered in cast
  return x.astype(dtype, copy=copy, casting=casting)

ValueError: Classification metrics can't handle a mix of continuous-multioutput and continuous targets